<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/admin-layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout/admin-layout">
<head>
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link href="/assets/bootstrap/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet"/>
    <script src="/assets/jquery-1.9.1.min.js"></script>
    <script src="/assets/bootstrap/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/assets/bootstrap/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h1>
            [[${viewTitle }]]
            <!-- <small>
                <i class="ace-icon fa fa-angle-double-right"></i>

            </small> -->
        </h1>
    </div>
    <div class="row" data-genuitec-lp-enabled="false"
         data-genuitec-file-id="wc1-50">
        <div class="col-xs-12">
            <form id="form" class="form-horizontal" role="form"
                  enctype="multipart/form-data" action="javascript:onsubmit = postsysuser()"
                  method="post">
                <input type="hidden" name="id" th:value="${sysUser.id}"/>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="username">登录账号</label>
                    <div class="col-sm-9">
                        <input type="text" required="required"
                               th:value="${sysUser.username}" id="username"
                               name="username" placeholder="登录账号" class="col-xs-10 col-sm-5">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="trueName">真实姓名</label>
                    <div class="col-sm-9">
                        <input type="text" required="required"
                               th:value="${sysUser.trueName}" id="trueName" name="trueName"
                               placeholder="真实姓名" class="col-xs-10 col-sm-5">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="telephone">电话号码</label>
                    <div class="col-sm-9">
                        <input type="text"
                               th:value="${sysUser.telephone}" id="telephone" name="telephone"
                               placeholder="电话号码" class="col-xs-10 col-sm-5">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="gender">性别</label>
                    <div class="col-sm-9">
                        <select name="gender" class="col-xs-10 col-sm-5" id="gender">
                            <option value="">请选择性别</option>
                            <option th:selected="${sysUser.gender=='男'}" value="男">男</option>
                            <option th:selected="${sysUser.gender=='女'}" value="女">女</option>
                            <option th:selected="${sysUser.gender!='男' && sysUser.gender!='女'}" value="保密">保密</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="email">邮箱</label>
                    <div class="col-sm-9">
                        <input type="text"
                               th:value="${sysUser.email}" id="email" name="email"
                               placeholder="邮箱" class="col-xs-10 col-sm-5">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="enabled">是否启用</label>
                    <div class="col-sm-9">
                        <label>
                            <input name="enabled" id="enabled"
                                   th:checked="${sysUser.enabled}"
                                   class="ace ace-switch ace-switch-4 btn-empty" type="checkbox">
                            <span class="lbl"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right"
                           for="sysRole">角色</label>
                    <div class="col-sm-9">
                        <select id="sysRole" class="selectpicker col-xs-11 col-sm-5" title="请选择角色" multiple>
                        </select>
                    </div>
                </div>

                <th:block th:if="${sysUser?.type == 2}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right"
                               for="diseasesType">病种类型：</label>
                        <div class="col-sm-9">
                            <select id="diseasesType" class="selectpicker col-xs-11 col-sm-5" title="请选择病种" multiple>
                            </select>
                        </div>
                    </div>
                </th:block>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i> 提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i> 重置
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        $(function () {
            let type = [[${sysUser.type}]];
            if (type == 1) {
                getRole(1);
            } else {
                getDiseasesType();
                getRole(2)
            }
        });

        function postsysuser() {
            let data = $('#form').serialize();
            let roleIdArr = $('#sysRole').val();
            if (roleIdArr) {
                data += "&roleIdArr=" + roleIdArr;
            }
            let diseasesTypeIds = $('#diseasesType').val();
            if (diseasesTypeIds) {
                data += "&diseasesTypeIds=" + diseasesTypeIds;
                // data += "&roleIdArr=" + roleIdArr;
            }
            $.ajax({
                data: data,
                type: 'post',
                dataType: 'json',
                url: '/admin/ajax/postsysuser',
                success: function (result) {
                    if (result) {
                        window.location.href = '/admin/system/sysuser';
                    }
                },
                error: function () {
                    MsgBox.alert("编辑失败，请刷新页面后重试！");
                }
            })
        }

        function getDiseasesType() {
            $.ajax({
                url: '/admin/ajax/listDiseasesType',
                type: "get",
                dataType: "json",
                success: function (result) {
                    if (result.code == 1) {
                        let data = result.data;
                        let str = "";
                        for (let i in data) {
                            str += "<option value=\"" + data[i].id + "\">" + data[i].name + "</option>";
                        }
                        let $selectpicker = $('#diseasesType');
                        $selectpicker.html(str);
                        let arrays = [[${sysUser.diseasesTypeIds}]];
                        if (arrays != null) {
                            $selectpicker.selectpicker('val', arrays);
                        }
                        $selectpicker.selectpicker('refresh');
                    }
                }
            })
        }

        function getRole(flag) {
            $.ajax({
                url: '/admin/ajax/listRole',
                type: "get",
                // data: {"flag": flag},
                dataType: "json",
                success: function (result) {
                    if (result.code == 1) {
                        let data = result.data;
                        let str = "";
                        for (let i in data) {
                            str += "<option value=\"" + data[i].id + "\">" + data[i].name + "</option>";
                        }
                        let $selectpicker = $('#sysRole');
                        $selectpicker.html(str);
                        let arrays = [[${sysUser.roleIdArr}]];
                        if (arrays != null) {
                            $selectpicker.selectpicker('val', arrays);
                        }
                        $selectpicker.selectpicker('refresh');
                    }
                }
            })

        }
    </script>
</div>
</body>
</html>
